
    <footer>

        <div class="media">
            <p class="text-uppercase" href="/about">info@eatyournuts.com</p>
        </div>

        <div class="other">
            <ul class="footer-links">
                <li><a class="text-uppercase" href="/about">about</a></li>
                <li><a class="text-uppercase" href="/contact">contact</a></li>
                <li><a class="text-uppercase" href="/terms-and-conditions">terms&conditons</a></li>
            </ul>
        <p class="text-uppercase">&copy; <span id="date"></span>, eat your nuts</p>
        </div>

    </footer>     

    <script src="/js/footer.js"></script>

    </body>

</html>