
        {{> header}}


        <div class="about container-fluid">

            <section class="intro">
                <h1 class="text-uppercase text-center">about us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar rhoncus risus quis cursus. Duis venenatis quam erat, sit amet finibus arcu lacinia non. Donec bibendum enim finibus vehicula feugiat. Phasellus sit amet diam eu orci posuere pretium. Nunc ut tortor mollis, sollicitudin lacus ut, commodo nulla.
                </p>
            </section>

            <section class="welovenuts">
                <h2 class="text-uppercase font-italic text-center">"we just love nuts"</h2>
                <div class="container-img-about">
                    <img src="img/about.png">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar rhoncus risus quis cursus. Duis venenatis quam erat, sit amet finibus arcu lacinia non. Donec bibendum enim finibus vehicula feugiat. Phasellus sit amet diam eu orci posuere pretium. Nunc ut tortor mollis, sollicitudin lacus ut, commodo nulla.
                </p>
            </section>



        </div>


        {{> footer}}


