
    {{> header}}
      
    <div class="shoppingcart">

        <h1 class="text-uppercase text-center">cart</h1>

        <div class="container" id="container-products">
            
            <!--PRODUCTS-->
            <!--<div class="row">
                <div class="product-name text-uppercase col-4 text-left">
                    healthy nuts
                    <button type="button" class="btn btn-light text-uppercase">delete</button>
                </div>
                <div class="product-price col-3 text-center">€<span class="price">5,95</span></div>
                <div class="product-quantity col-2 text-center">2</div>
                <div class="product-total col-3 text-center">€<span class="total-price-product">11,90</span></div>
            </div>
            <div class="row">
                <div class="product-name text-uppercase col-4 text-left">
                    healthy nuts
                    <button type="button" class="btn btn-light text-uppercase">delete</button>
                </div>
                <div class="product-price col-3 text-center">€<span class="price">5,95</span></div>
                <div class="product-quantity col-2 text-center">2</div>
                <div class="product-total col-3 text-center">€<span class="total-price-product">11,90</span></div>
            </div>
            <div class="row">
                <div class="product-name text-uppercase col-4 text-left">
                    healthy nuts
                    <button type="button" class="btn btn-light text-uppercase">delete</button>
                </div>
                <div class="product-price col-3 text-center">€<span class="price">5,95</span></div>
                <div class="product-quantity col-2 text-center">2</div>
                <div class="product-total col-3 text-center">€<span class="total-price-product">11,90</span></div>
            </div>-->
            
        </div>

        <div class="total-order text-center">
            <div class="total-price">€<span id="total-of-all-prices"></span></div>
            <div>
                <button type="submit" class="btn btn btn-dark text-uppercase">order</button>
            </div>

        </div>


    </div>


    <script src="/js/cart.js"></script>
