
    {{> header}}

    <div class="homepage">

        <section class="banner">
            <h2 class="banner-subtitle">Be smart</h2>
            <h1 class="banner-titlte">Eat Your Nuts</h1>
        </section>


        <section class="container new-in-store">
            <h1 class="new-in-store-title text-uppercase text-center">new in store</h1>
            <div class="row">
                <div class="col-md-6 new-in-store-img">
                    <img src="/img/healthy-mix.png" alt="healthy nut mix">
                </div>
                <div class="align-self-center col-md-6 new-in-store-text">
                    <h5 class="text-uppercase text-center">healthy mix</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel auctor turpis, et finibus sem. Phasellus elit urna, commodo in suscipit sit amet, bibendum ac dui. Pellentesque congue magna id.</p>
                    <p>500gram for €5,95</p>
                </div>
            </div>
        </section>

        <section class="parallax"></section>

        <section class="items">
            
            <h1 class="text-uppercase text-center">shop</h1>
    
            <div class="cards"> 

                {{#each items}}

                    <div class="card">
                        <img class="card-img-top" src="img/{{img}}.png" alt="{{name}}"> 
                        <div class="card-body">
                            <h5 class="card-title text-uppercase text-center">{{name}}</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 500gram.</p>
                            <div class="card-price">
                                <div class="price-item">€{{price}}</div>
                                <div class="place-cart-item">
                                    <input type="number" min="1" max="99" placeholder="..." class="text-center get-qty">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="cart" height="32" viewBox="0 0 24 24" width="32"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/></svg>
                                </div>
                            </div>
                            <div class="cart-animation"></div>
                        </div>
                    </div>

                {{/each}}

            </div>

        </section>

    </div>

    {{> footer}}

    <script src="/js/homepage.js"></script>
    <script src="/js/shop.js"></script>

        
