footer{
    margin: 80px auto 10px auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid black;
    .other{
        p{
            margin-top: 20px;
        }
    }
}

@media (min-width: 576px) {

    footer{
        margin: 80px auto 0 auto;
        padding: 25px 25px 0 18px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        text-align: start;
        border-top: none;
    }

}